body,
html {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  background-color: hsl(210, 46%, 95%);
}

main {
  width: 90%;
  margin: 10% auto;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.drawers {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 33%;
}

.text-container {
  padding: 10% 10% 5%;
}

h1,
.user-name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

h1 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p,
.date {
  color: hsl(214, 17%, 51%);
  font-size: 0.75rem;
}

.user-info {
  display: flex;
  flex-direction: row;
  padding-top: 15%;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 16px;
}

.name-and-date {
  align-self: center;
}

.user-name {
  font-size: 16px;
  margin: 0 0 4px 0;
}

.date {
  margin: 4px 0 0 0;
}

.open-button {
  display: block;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  margin-left: auto;
  align-self: center;
}

.button-icon {
  align-self: center;
}

.button-text {
  position: absolute;
  color: transparent;
  height: 1px;
  width: 1px;
}

.share-section {
  position: absolute;
  background-color: hsl(217, 19%, 35%);
  width: 90%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  transform: translate(-10%, -80%);
  padding: 5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.share-section > * {
  align-self: center;
}

.share-section p {
  color: hsl(212, 23%, 69%);
  margin: 0;
  font-size: 1rem;
  letter-spacing: 4px;
}

.close-button {
  display: block;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: hsl(214, 17%, 51%);
}

.close-button .button-text {
  position: absolute;
  color: transparent;
  height: 1px;
  width: 1px;
}

.close-button img {
  filter: brightness(300%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
